---
import "normalize.css";
import "../assets/prose.css"
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, updatedDate, hero, tags } = Astro.props;
---

<Layout>
    <article>
        <div class="image-with-info">
            <img
                src={hero || ""}
                alt={`Background from "${title}"`}
                loading="lazy"
            />
            <div class="info">
                <div>
                    <h1>{title}</h1>
                    <p>{description}</p>
                </div>
                {
                    tags && tags.length > 0 && (
                        <div class="tags">
                            {tags.map((tag) => (
                                <span>{tag}</span>
                            ))}
                        </div>
                    )
                }
                <div>
                    <span>Published on {pubDate.toLocaleDateString()}</span>
                    {
                        updatedDate && (
                            <span>
                                Updated on {updatedDate?.toLocaleDateString()}
                            </span>
                        )
                    }
                </div>
            </div>
        </div>
        <div class="prose">
            <slot />
        </div>
    </article>
</Layout>

<style lang="scss">
    .image-with-info {
        display: flex;
        -js-display: flex;
        flex-direction: row;

        img {
            aspect-ratio: 16 / 9;
            height: 300px;
        }

        .info {
            flex: 1;
            display: flex;
            -js-display: flex;
            flex-direction: column;
            gap: 10pt;
            justify-content: space-between;
            margin: 5pt 15pt;

            .tags {
                display: flex;
                -js-display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 5pt;

                span {
                    background: var(--accent);
                    border: 1px solid var(--accent-border);

                    padding: 1pt 3pt;
                }
            }
        }
    }
</style>
