---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import Icon from "astro-iconify";
import { Image } from "astro:assets";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, updatedDate, hero, tags } = Astro.props;
---

<Layout>
    <article class="post">
        <Image
            class="hero"
            src={hero || ""}
            alt={`Background from "${title}"`}
            width={500}
            loading="eager"
            height={300}
        />
        <h1>{title}</h1>
        <p>{description}</p>
        <div class="info">
            <span class="flex flex-row gap-2"
                ><Icon
                    class="size-[1.2em]"
                    pack="material-symbols"
                    name="calendar-clock-rounded"
                /> Published on {pubDate.toLocaleDateString()}</span
            >
            {
                updatedDate && (
                    <span class="flex-row">
                        <Icon
                            pack="material-symbols"
                            name="calendar-clock-rounded"
                        />
                        Updated on {updatedDate?.toLocaleDateString()}
                    </span>
                )
            }
            {
                tags && tags.length > 0 && (
                    <div class="flex-row">
                        <span>Tags: </span>
                        {tags.map((tag) => (
                            <div class="tag">{tag}</div>
                        ))}
                    </div>
                )
            }
        </div>
        <div class="prose">
            <slot />
        </div>
    </article>
</Layout>
